@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using GoMemory.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

}
