<h3>WhatYouSee</h3>
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using GoMemory.Shared
@attribute [Authorize]
@inject HttpClient Http
@code {

}
