<h3></h3>
<h2>Congratulations !</h2>

<h3>You have completed all of the  @ModeDifficulty.ToString() </h3>

<button @onclick="(() => GameMenu.InvokeAsync(true))" type="submit">Main Menu</button>

@code {
    [Parameter]
    public ModeDifficulty ModeDifficulty { get; set; }
    [Parameter]
    public EventCallback<bool> GameMenu { get; set; }
}