<a @onclick="Pressed">
    <img src="@Src" alt="image of a @Name" />
</a>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public EventCallback<string> Selected { get; set; }
    public Task Pressed()
    {
        return Selected.InvokeAsync(Name);
    }

}
