<h2>!!! Failed !!!</h2>

<h3>Level @Level Failed</h3>

<button @onclick="(() => ResetLevel.InvokeAsync(false))" type="submit">Restart Level</button>

@code {
    [CascadingParameter]
    public int Level { get; set; }
    [Parameter]
    public EventCallback<bool> ResetLevel { get; set; }
  
}
