<h2>!!! Failed !!!</h2>

<h3>Level @Level Failed</h3>

<button @onclick="RepeatLevel" type="submit">Restart Level</button>

@code {
    [CascadingParameter]
    public int Level { get; set; }
    [Parameter]
    public EventCallback<bool> NextLevel { get; set; }

    public Task RepeatLevel()
    {

        return NextLevel.InvokeAsync(false);
    }
}
