<h2>Congratulations !</h2>

<h3>Level @Level Complete</h3>

<button @onclick="(() =>  NextLevel.InvokeAsync(true))" type="submit" >Next Level</button>

@code {
        [Parameter]
        public int Level { get; set; }
        [Parameter]
        public EventCallback<bool> NextLevel { get; set; }
}
