<h2>!!! Failed !!!</h2>

<h3>Level @Level Failed</h3>

<button @onclick="ResetCurrentLevel" type="submit">Restart Level</button>

@code {
    [Parameter]
    public int Level { get; set; }
    [Parameter]
    public EventCallback<bool> ResetLevel { get; set; }

    public Task ResetCurrentLevel()
    {

        return ResetLevel.InvokeAsync(false);
    }
}
