<h2>!!! Failed !!!</h2>

<h3>Level @Level Failed</h3>

<button @onclick="RedoLevel" type="submit">Restart Level</button>

@code {
    [CascadingParameter]
    public int Level { get; set; }
    [Parameter]
    public EventCallback<LevelStatus> RedoLevel { get; set; }

    public Task RedoLevel()
    {

        return RedoLevel.InvokeAsync(LevelStatus.Previous);
    }
}
