<h3>MemorisingScreen</h3>
<div class="d-flex flex-column ">
    <div class="d-flex flex-row">
        <label>Level - @Game.CurrentLevel </label>
    </div>
    <div class="d-flex flex-wrap">
        @foreach (Token token in Game.TokensToRemember)
        {
        <div>
            @if (Game.GameSettings.RecallStyle == RecallStyle.Ordered)
            {
            <label> @sequenceCount</label>
           
                sequenceCount++;
            }
            <img src="@token.Source" width="200" height="200" />
        </div>
        }
    </div>    
</div>

<button @onclick="(() => PlayLevel.InvokeAsync(true))" type="submit">Start</button>

@code {
    [Parameter]
    public Game Game { get; set; }
    [Parameter]
    public EventCallback<bool> PlayLevel { get; set; }

    public int sequenceCount  = 1;
}
