<h3>GameSelection</h3>

@code {

    //            switch (clickedButton.Text)
    //            {
    //                case "Easy":
    //                    SetGamePlay(Difficulty.Easy);
    //                    break;
    //                case "Normal":
    //                    SetGamePlay(Difficulty.Normal);
    //                    break;
    //                default:
    //                    SetGamePlay(Difficulty.Hard);
    //                    break;
    //            }

    //set game play style
    //        public async void SetGamePlay(Difficulty difficulty)
    //        {
    //            switch (GameType)
    //            {
    //                case GameType.Guess:
    //                    await Navigation.PushAsync(new WhatYouSeeGamePlayPage(difficulty, GameType));
    //                    break;
    //                case GameType.ColourComplex:
    //                    await Navigation.PushAsync(new ColourComplexGamePlayPage(difficulty, GameType));
    //                    break;
    //                default:
    //                    await Navigation.PushAsync(new SequentialGamePlayPage(difficulty, GameType));
    //                    break;
    //            }
    //        }

    //private void SetGameType(string buttonText)
//        {

    //            switch (buttonText)
    //            {
    //                case "What you see":
    //                    GameType = GameType.Guess;
    //                    break;
    //                case "Sequential":
    //                    GameType = GameType.Sequential;
    //                    break;
    //                default:
    //                    GameType = GameType.ColourComplex;
    //                    break;
    //            }
    //        }

    //        public async void RulesBtn_OnClicked(object sender, EventArgs e)
    //        {
    //              await Navigation.PushAsync(new RulesPage(GameType));

    //        }
}
