@page "/"
@using GoMemory.Helpers
@using GoMemory.Common.Models

<h1>Hello, world!</h1>
<button @onclick="getImages" class="btn btn-primary" >images</button>
Welcome to your new app.

@code{

    public List<ImageTile> imageTiles { get; set; }
    private async Task getImages()
    {
        ImageHelper imageHelper = new ImageHelper();
        imageTiles = await imageHelper.GetAllImages();

    }
}